extends layout

block content
  h1= title
  p Willkommen zur #{title} API 
  p Basiert auf der magischen Miesmuschel aus der SpongeBob Folge mit dem Namen "Club SpongeBob"
  p Die REST-Schnittstelle ist erreichbar unter #[a(href="/api") API] und benötigt eine Frage als URL-Parameter q 

